<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>WELCOME TO EMPLOYEE MANAGEMENT SYSTEM PROJECT</h1>
<h2>Please Enter Your Credentials to Login</h2>
<form th:action="@{/emps/login}" th:object="${employee}" method="POST">
    <h2>LOGIN</h2>
    <label>Email:</label>
    <input type="email" th:field="*{email}" placeholder="Enter Your Email" required/><br>
    <label>Password:</label>
    <input type="password" th:field="*{password}" placeholder="Enter Your Password" required/><br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</form>
</body>
</html>
