<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2 th:text="${employee.id == null ? 'Add New Employee' : 'Edit Employee'}"></h2>

<form th:action="@{/manager}" th:object="${employee}" method="POST">
    <h2 style="align-center"> Enter Details OF Employee</h2>
    <input type="hidden" th:field="*{id}" />
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}" placeholder="Enter Your First Name" required/><br>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}" placeholder="Enter Your Last Name" required/><br>
    <label>Email:</label>
    <input type="email" th:field="*{email}" placeholder="Enter Your Email" required/><br>
    <label>Mobile Number:</label>
    <input type="number" th:field="*{mobNumber}" placeholder="Enter Your Mobile Number" required/><br>
    <label>Role:</label>
    <select name="role" id="role" th:field="*{role}" required>
        <option value="0">Employee</option>
        <option value="1">Manager</option>
        <option value="2">Admin</option>
    </select><br>
    <label>Password:</label>
    <input type="password" th:field="*{password}" placeholder="Enter Your Password" required/><br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</form>
</body>
</html>
